.App {
  text-align: center;
  border-style:solid;
  color:black;
  background-color: rgb(235, 241, 242);
  border-color: navy;
  border-radius: 5px;
  margin-top: 20px;
  padding:20px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  display:flexbox;
  justify-content: center;
  align-content: center;
  background-color: rgb(114, 232, 251);
  max-width: 80%;
  margin-left: 10%;
 }
 .App-footer{
  border-style:solid;
  color:black;
  background-color: rgb(235, 241, 242);
  border-color: navy;
  border-radius: 5px;
  margin-top: 20px;
  padding:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
